<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>User List</h1>
<div>
    <table border="1">
        <tr>
            <th>name</th>
            <th>surname</th>
            <th>age</th>
            <th>action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.name}">  </td>
            <td th:utext="${user.surname}">  </td>
            <td th:utext="${user.age}">  </td>
            <td><a th:href="@{/{id}/update(id=${user.getId()})}">update</a></td>
            <td><form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <hr/>
<form action="/new">
    <button>Add new user</button>
</form>
</div>
<br/>
<hr/>
</body>
</html>